
#filter {
    background-color: $gray;
    width: 30%;
    max-width: 300px;
    .inside {
        padding: 20px;
        max-width: 300px;
    }
    h4 {
        font-size: .9rem;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500;
    }
    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: darkslategray;
        display: block;
        margin-bottom: 25px;
        width: 100%;
    }
    .filters {
        .title {
            font-size: .9rem;
            display: block;
            margin-bottom: 1rem;
            color: darkslategrey;
        }
        input[type="text"]{
            border-radius: 5px;
            font-size: 1rem;
            padding: .4rem;
            display: inline-block;
            width: 45%;
            margin-right: 2.5%;
            margin-bottom: 1rem;
        }
        &.amenities {
            label {
                display: block;
                width: 100%;
                padding: 10px 0;
                input[type="checkbox"]{
                    float: right;
                }
            }
        }
    }
}

#listings {

}